@charset "UTF-8";

/* Exclusivo da Home */


div#hoshi-grid {
    display: grid;
    align-self: center;


    width: clamp(15em, 80%, 22em);

    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "icon ex1"
    "icon ex1"
    "ex2 ex2 ";

    gap: 0.5em;
    margin-bottom: 1em;
}

#hoshi-grid img, #hoshi-grid div{
    border-radius: 1em;
    
}

img#hoshi-icon {
    grid-area: icon;
    aspect-ratio: 1/1;
    background-color: var(--primary-color);
    min-width: 0;
    width: 100%;
    object-fit: contain;
}

div#hoshi-ex1 {
    grid-area: ex1;
    background: var(--alt-primary-color) url(../../images/stars-portrait.jpg) center bottom no-repeat;
    background-size: cover;
}

div#hoshi-ex2 {
    grid-area: ex2;
    background: var(--alt-secondary-color) url(../../images/stars-landscape.jpg) left bottom no-repeat;
    background-size: cover;
}

img#android {
    object-position: center top;
}

a#view-more-btn {
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--white);
    font-weight: bold;
    border-radius: 1em;
    width: max-content;
    padding: 1em 2em;
    font-size: 1.2em;
    border: 0.2em solid var(--alt-secondary-color);
    transition: var(--hover-transition);
}

a#view-more-btn:hover {
    border: 0.2em solid var(--alt-primary-color);
    background-color: var(--primary-color);
    transform: scale(1.1);
}