@charset "UTF-8";

/* Exclusivo da Home */

/* ==================== Grid da HoshiCorp ==================== */
div#hoshi-grid {
    display: grid;
    align-self: center;
    width: clamp(15em, 80%, 22em);
    flex: 0 0 clamp(15em, 80%, 22em);

    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "icon         ex-portrait"
    "icon         ex-portrait"
    "ex-landscape ex-landscape ";

    gap: 0.5em;
}

/* Conteúdos da GRID Hoshi */
#hoshi-grid img, #hoshi-grid div{
    border-radius: 1em; 
}

/* O ícone da empresa */
img#hoshi-icon {
    grid-area: icon;
    aspect-ratio: 1/1;
    background-color: var(--primary-color);
    min-width: 0;
    width: 100%;
    object-fit: contain;
}

/* As duas divs de conteúdo extra */
div#hoshi-ex-portrait {
    grid-area: ex-portrait;
    background: var(--alt-primary-color) url(../../images/sky-portrait.jpg) center bottom no-repeat;
    background-size: cover;
}

div#hoshi-ex-landscape {
    grid-area: ex-landscape;
    background: var(--alt-secondary-color) url(../../images/sky-landscape.jpg) left bottom no-repeat;
    background-size: cover;
}


/* ==================== Local dos cards de Projetos ==================== */

/* Imagem do android, centralizada diferente */
img#android {
    object-position: center top;
}