@charset "UTF-8";

/* Exclusivo do projects */

/* A imagem de cada projeto */
img {
    aspect-ratio: 3/2;
    object-fit: cover;
    border-radius: 1em;
    object-position: center;
    width: 100%;
}