@charset "UTF-8";

img {
    aspect-ratio: 3/2;
    object-fit: cover;
    border-radius: 1em;
    object-position: center;
    width: 100%;
}

.image-wrapper {
    flex: 1 0 clamp(20em, 50%, 25em);
}