@charset "UTF-8";

/* Container padrão que contém texto e mais outra coisa */
.content-text {
    display: flex;
    flex-flow: column nowrap;
}

/* Uma <img> que mostra a imagem de alguém */
.perfil-icon {
    aspect-ratio: 1/1;
    max-width: 12em;
    min-width: 0;
    margin: 0 5em;
    background-color: var(--tertiary-color);
    border-radius: 50%;
    align-self: center;
    width: 100%;
    border: 0.25em solid var(--primary-color);
}

/* O container que contém os cards de programação */
.content-lang-cards {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}


.transparent {
    background-color: transparent;
    box-shadow: none;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    gap: 1em;
}

.transparent > h2 {
    width: max-content;
    text-align: center;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 1em;
    padding: 0.5em 2em;
    border: 0.1em solid var(--secondary-color);
}


/* =========== A classe card =========== */
.card {
    display: flex;
    margin: 0.5em 0;
    background-color: var(--secondary-color);
    border-radius: 1em;
    color: var(--white);
    box-shadow: var(--card-shadow);
    transition: var(--card-translate);
}

/* O título do cartão */
.card-title {
    color: var(--alt-primary-color);
    font-size: 1.2em;
}

.card:hover {
    transform: scale(1.05) translateY(-5px);
}

/* O card que mostra as linguagens */
.lang-card {
    height: 10em;
    padding: 1em;
    max-width: 24em;
    flex-flow: column nowrap;
    border-left: 1em solid var(--primary-color);
    
}



.project-card {
    flex-flow: column nowrap;
    padding: 0;
    max-width: 24em;
}

.project-card-text {
    padding: 1em;
    box-shadow: var(--card-text-shadow);
    border-radius: 1em;
}

.project-card img {
    width: 100%;
    height: 14em;
    border-radius: 1em 1em 0 0;
    aspect-ratio: none;
    object-fit: cover;
    
}
